.footer-background {
    width: 100%;
    background-color: var(--secondary-background-color);
    height: 140px;
    padding: 30px 0;
    margin-top: 200px;
}

.footer .footer-wrapper {
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer a {
    text-decoration: none;
    color: var(--light-color);
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer ul li .icons-field{
    fill: var(--light-color);
    max-width: 200px;
    width: 100%;
}

.footer ul li .icons-field a{
    margin-right: 10px;
}

.footer ul li .icons-field a img{
    color: var(--light-color);
}

.footer .copyright p{
    text-align: center;
    margin: 5px;
    font-size: 0.7em;
}