.footer-background {
    width: 100%;
    background-color: var(--secondary-background-color);
    height: 140px;
    padding: 30px 0;
    margin-top: 160px;
}

.footer {
    .footer-wrapper {
        max-width: 1400px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    a {
        text-decoration: none;
        color: var(--light-color);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    ul li .icons-field {
        fill: var(--light-color);
        max-width: 200px;
        width: 100%;
    }

    ul li .icons-field a {
        margin-right: 10px;
    }

    ul li .icons-field a img {
        color: var(--light-color);
    }

    .copyright p {
        text-align: center;
        margin: 5px;
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 0.8em;

        .footer-background .footer-wrapper ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            li {
                margin-bottom: 10px;
            }
        }
    }

}