.newProjectMember{
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    text-align: center;
    padding: 20px 0;
    max-width: 800px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.newProjectMember h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.newProjectMember input{
    margin-bottom: 20px;
}

.newProjectMember .membersList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-color);
    color: var(--dark-color);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.newProjectMember .membersList div{
    border: 1px solid var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    align-items: center;
}

.newProjectMember .membersList div input{
    margin: 10px 20px 10px 10px;
    background-color: red;
}

.newProjectMember button{
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all .3s linear;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--light-color);
}

.newProjectMember .add-member-btn{
    background-color: var(--ongoing-color);
}

.newProjectMember .return-project-btn{
    background-color: var(--secondary-background-color);
    margin-right: 20px;
}

.newProjectMember .add-member-btn:hover{
    background-color: var(--success-color);
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.newProjectMember .return-project-btn:hover{
    background-color: var(--fourth-color);
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.newProjectMember .pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.newProjectMember .pagination p{
    margin-right: 10px;
}

.newProjectMember .pagination button{
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    transition: all .3s linear;
    cursor: pointer;
    border: 1px solid var(--light-color);
    margin-right: 5px;
    font-size: 0.6em;
}

.newProjectMember .pagination button:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.newProjectMember .pagination .active{
    background-color: var(--ongoing-color);
}

.newProjectMember .adverting{
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 0.6em;
}

@media (max-width: 800px) {
    .newProjectMember{
        width: 96%;
    }
}

@media (max-width: 420px) {
    .newProjectMember h3{
        font-size: 1.2em;
    }

    .newProjectMember label,
    .newProjectMember p{
        font-size: 0.8em;
    }

    .newProjectMember button{
        font-size: 0.6em;
    }
}