.project-list {
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 5px;

}

.project-list .filters {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.project-list .filters p{
    margin-right: 20px;
}

.project-list .filters button{
    margin-right: 10px;
    background-color: var(--fourth-color);
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.project-list .filters .filter-name{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.project-list .filters .filter-name span{
    margin-left: 5px;
}

.project-list .filters .filter-name #delete-filters{
    border: 1px solid var(--light-color);
    padding: 6px;
}

.project-list h2 {
    margin-bottom: 30px;
}

.project-list .project {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 90%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all .3s linear;
}

.project-list .project:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
    
}

.project-list .project .project-content{
    padding: 20px 80px;
}

.project-list .project a {
    color:var(--light-color);
    text-decoration: none;
}

.project-list .project p span{
    margin-left: 5px;
}

.project-list .same-line{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom: 10px;
}

.clicked{
    background-color: var(--fourth-color)!important;
    border: 1px solid var(--light-color)!important;
    transition: all .3s ease;
}

#delete-filters{
    background: transparent;
    color: var(--light-color);
    font-size: 0.6rem;
    margin-left: -5px;
    padding: 0;
    transition: all .3s ease;
}

.project-list .filters button:hover,
.clicked:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}


#delete-filters:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}