.project-detail{
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.project-detail span{
    margin-left: 5px;
}

.project-detail h2 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.project-detail .detail{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.project-detail .members{
     border: 2px solid var(--light-color);
     border-radius: 5px;
     padding: 40px 20px;
     margin: 40px 0;
     position: relative;
}

.project-detail .members li{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--light-color);
    padding: 10px;
    justify-content: space-around;
}

.project-detail .members .success{
    margin: 1px auto;
}

.project-detail .members li:first-child{
    border-radius: 5px 5px 0 0;
}

.project-detail .members li:last-child{
    border-radius: 0 0 5px 5px;
}

.project-detail .members li p,
.project-detail .members li div{
    width: 30%;
    text-align: center;
}

.project-detail .members .members-confirm-btn,
.project-detail .members .members-cancel-btn,
.project-detail .members .members-delete-btn,
.project-detail .members .members-edit-btn,
.project-detail .members .members-add-btn,
.project-detail .members .members-leave-btn{
    background-color: var(--error-color);
    padding: 5px 10px;
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    font-size: 0.6rem;
    transition: all .3s ease;
}

.project-detail .members .members-confirm-btn{
    background-color: var(--success-color);
    margin-right: 10px;
}

.project-detail .members .members-cancel-btn{
    background-color: var(--fourth-color);
}

.project-detail .members .member{
   position: relative;
}

.project-detail .members .members-leave-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.project-detail .members .members-confirm-btn:hover,
.project-detail .members .members-cancel-btn:hover,
.project-detail .members .members-leave-btn:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.project-detail .members .search-members-field{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 20px;
}

.project-detail .members .search-members-field label{
    margin-right: 20px;
}

.project-detail .members .search-members-field input {
    max-width: 240px;
    width: 100%;
}

.project-detail .members .members-add-btn{
    position: absolute;
    background-color: var(--ongoing-color);
    font-size: 0.8rem;
    top: 20px;
    right: 20px;
    max-width: 140px;
    width: 100%;
}

.project-detail .members .members-edit-btn{
    background-color: var(--ongoing-color);
    margin-right: 10px;
    transition: all .3s ease;
}

.project-detail .members .members-delete-btn{
    background-color: var(--error-color);
    transition: all .3s ease;
}

.project-detail .members .filter-field{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.project-detail .members .filter-field p{
    margin-right: 20px;
}

.project-detail .members .filter-field button{
    background-color: var(--fourth-color);
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-right: 10px;
    transition: all .3s ease;
}

.project-detail .members .members-add-btn:hover,
.project-detail .members .members-edit-btn:hover,
.project-detail .members .members-delete-btn:hover,
.project-detail .members .filter-field button:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.project-detail .members .message{
    margin-bottom: 20px;
}

.project-detail .members .filters{
    border-radius: 5px;
    cursor:pointer;
    transition: all .3s ease;
}


.project-detail .members .filters-clicked{
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.project-detail .members .filters:hover,
.project-detail .members .filters-clicked:hover{
    box-shadow: 0 0 2px 2px var(--light-color);
}

.project-detail .project-date-field,
.project-detail .project-status-field,
.project-detail .project-categorie-field,
.project-detail .project-description-field{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.project-detail .project-description-field input{
    width: 60%;
    border-radius: 5px;
}

.project-detail .project-date-field button,
.project-detail .project-status-field button,
.project-detail .project-categorie-field button,
.project-detail .project-description-field button{
    background-color: var(--ongoing-color);
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 0.8em;
    padding: 2px 10px;
    transition: all .3s ease;
}

.project-detail .project-date-field button:hover,
.project-detail .project-status-field button:hover,
.project-detail .project-categorie-field button:hover,
.project-detail .project-description-field button:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.project-detail .project-date-field .deadline-confirm-btn,
.project-detail .project-status-field .status-confirm-btn,
.project-detail .project-categorie-field .category-confirm-btn,
.project-detail .project-description-field .desc-confirm-btn{
    background-color: var(--success-color);
    border: 1px solid var(--light-color);
}

.project-detail .project-date-field .deadline-cancel-btn,
.project-detail .project-status-field .status-cancel-btn,
.project-detail .project-categorie-field .category-cancel-btn,
.project-detail .project-description-field .desc-cancel-btn{
    background-color: var(--fourth-color);
    border: 1px solid var(--light-color);
}

.project-detail .tasks-field{
    border-radius: 5px;
    border: 2px solid var(--light-color);
    padding: 20px;
    margin-bottom: 20px;
}

.project-detail .tasks-field h3{
    margin-bottom: 10px;
}

.project-detail .tasks-field .task-add-btn{
    background-color: var(--ongoing-color);
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-align: end;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.project-detail .tasks-field .task-add-btn:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.project-detail .tasks-field li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--light-color);
    border-collapse: collapse;
    padding: 10px;
}

.project-detail .tasks-field input,
.project-detail .tasks-field textarea{
    width: 25%;
    padding: 10px 5px;
    height: 50px;
}

.project-detail .tasks-field textarea{
    height: 80px;
    resize: none;
    border-radius: 5px;
}

.project-detail .tasks-field select{
    width: 18%;
    height: 30px;
    border-radius: 5px;
}

.project-detail .tasks-field .author p{
    width: 20%;
    text-align: center;
}

.project-detail .tasks-field .author .action-buttons{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.project-detail .tasks-field .author .action-buttons button{
    color: var(--light-color);
    border: 0;
    width: 30%;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 0.6rem;
    transition: all .3s ease;
}

.project-detail .tasks-field .author .action-buttons .edit{
    background-color: var(--ongoing-color);
}

.project-detail .tasks-field .author .action-buttons .delete{
    background-color: var(--error-color);
}
.project-detail .tasks-field .author .action-buttons .confirm{
    background-color: var(--success-color);
}

.project-detail .tasks-field .author .action-buttons .cancel{
    background-color: var(--fourth-color);
}

.project-detail .tasks-field .author .action-buttons .confirm:hover,
.project-detail .tasks-field .author .action-buttons .cancel:hover,
.project-detail .tasks-field .author .action-buttons .edit:hover,
.project-detail .tasks-field .author .action-buttons .delete:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.project-detail .tasks-field .user p{
    width: 30%;
    text-align: center;
}

.project-detail .tasks-field li:first-child{
    border-radius: 5px 5px 0 0;
}

.project-detail .tasks-field li:first-child .filter{
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
}

.project-detail .tasks-field li:first-child .filter-clicked{
    background-color: var(--secondary-color);
    border-radius: 5px;
    transition: all .3s ease;
}

.project-detail .tasks-field li:first-child .filter:hover,
.project-detail .tasks-field li:first-child .filter-clicked:hover{
    box-shadow: 0 0 2px 2px var(--light-color);
}

.project-detail .tasks-field li:last-child{
    border-radius: 0 0 5px 5px;
}

.project-detail .tasks-field .filtered{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.project-detail .tasks-field .delete-filter{
    cursor: pointer;
    background-color: var(--fourth-color);
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    font-size: 0.8rem;
    transition: all .3s ease;
}

.project-detail .tasks-field .delete-filter:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.project-detail .tasks-field .tasks-ratio{
    text-align: end;
}

.projects-participate{
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.projects-participate h2 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.projects-participate p span{
    margin-left: 5px;
}

.projects-participate li{
    border: 2px solid var(--ongoing-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all .3s ease;
}

.projects-participate li:hover{
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px var(--light-color);
}

.tchat-access-btn{
    color: var(--light-color);
    text-decoration: none;
    background-color: var(--ongoing-color);
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    margin-right: auto;
    margin-left: auto;
    transition: all .3s ease;
}

.delete-project-btn{
    display: inline;
    color: var(--light-color);
    background-color: var(--error-color);
    border: 0;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    transition: all .3s ease;
}

.tchat-access-btn:hover,
.delete-project-btn:hover{
    box-shadow: 0 0 5px var(--light-color);
    border: 2px solid var(--light-color);
}