.register-field {
    height: auto;
    color: var(--light-color);
    background-color: var(--secondary-background-color);
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.register-field h1 {
    margin-top: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.register-field input {
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    padding: 5px 20px;
}

.register-field label{
    display: flex;
    flex-direction: column;
}

.register-field .side-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register-field .side-inputs div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.register-field .sign-up-link {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.register-field button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-weight: 600;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    transition: all .4s ease;
    margin-bottom: 20px;
}

.register-field a {
    margin-bottom: 40px;
    color: var(--default-color);
}

.register-field button:hover,
.register-field button:focus {
    background-color: var(--fourth-color);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.checkbox-input input {
    height: auto;
}

.checkbox-input label {
    display: flex;
    flex-direction: row;
}