:root{
    --main-background-color: #fff;
    --light-color: #fff;
    --dark-color: #000;
    --primary-color: #547AA5;
    --secondary-color: #4F5165;
    --third-color: #50D8D7;
    --fourth-color: #695e64;
    --success-color: #26a067;
    --error-color: #e93f39;
    --secondary-background-color: #293132;
    --warning-color: #FFCA2C;
    --ongoing-color: #4e8deb;
}


// Policy for the fonts used in the project:
$default-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$text-font: "Inter", sans-serif;

// Imports of scss files
@import '_reset';
@import '_header';
@import '_home';
@import '_footer';
@import '_login';
@import '_register';
@import '_project';
@import '_tchat';
@import '_newMembers';
@import '_newTask';
@import '_projectsList';
@import '_projectParticipate';
@import '_newProject';
@import '_confidencyPolicy';
@import '_profile';


*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: var(--dark-color);
    background-color: var(--main-background-color);
    font-family: $default-font;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6em;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    flex: 1;
}

input {
    border-radius: 5px;
    border: 0;
    height: 30px;
}

button {
    cursor: pointer;
}

.error {
    padding: 5px 20px;
    color: var(--light-color);
    background-color: var(--error-color);
    border-radius: 5px;
    font-size: 0.8em;
    list-style-type: disc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-decoration: none;
}

.capitalize-first-letter::first-letter {
    text-transform: uppercase;
}

.success {
    background-color: var(--success-color);
    color: var(--light-color);
    padding: 5px 20px;
    max-width: 400px;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: -60px;
    margin-left: auto;
    border-radius: 5px;
}

.success-text{
    color: var(--success-color);
}

.error-text{
    color: var(--error-color);
}

.required-field{
    color: var(--error-color);
    margin-left: 5px;
}

.cancelled-color{
    color: var(--error-color);
}

.ongoing-color{
    color: var(--ongoing-color);
}

.paused-color{
    color: var(--warning-color);
}

.done-color{
    color: var(--success-color);
}

.edit-btn {
    color: var(--light-color);
    background: transparent;
    border: 0;
    text-align: end;
    font-size: 0.6em;
}

.delete-btn{
    color: var(--light-color);
    background: transparent;
    border: 0;
    text-align: end;
    font-size: 0.6em;
}

.msg-btns{
    display: flex;
    justify-content: flex-end;
}

.new-content{
    background: transparent;
    border: 0;
    resize: none;
    width: 100%;
    color: var(--light-color);
    height: 100px;
    margin-bottom: 20px;
}

.validate-edit-btn{
    color: var(--light-color);
    background: transparent;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    text-align: end;
    font-size: 0.6em;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-background-color);
    color: var(--light-color);
}

.error-page h2{
    color: var(--error-color);
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.error-page .return-home{
    margin-top: 20px;
    color: var(--light-color);
}


